doctype html 
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="css/index.css")
.container(onclick)
  .top
  .bottom
  .center
    h2 Aplikasi Risiko Mitigasi 
    input(type="username" placeholder="Username")
    input(type="password" placeholder="Password")
    h2 &nbsp;